.post{
   width:100%;
  height:62rem;
  margin-top: 1.5rem;
  background-color:white;
}

.profileInfoBox{
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: space-between;
}
.postProfileImageIconBox{
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1rem;
}
.postProfileImageIcon{
object-fit: cover;
 width: 4.5rem;
 height: 4.5rem;
border-radius: 50%;
}
 .fa-xmark{
    margin-right: 2.5rem;
 }
.profileTextInfo{
    display: flex;
    width: 90%;

}
.isFollowing{
    color:  rgb(85, 85, 233);
    
}
.postTitleHeading{
    font-size: 2rem;
    margin: 1rem;
}
.postImageBox{
    height:75%;
}
.postImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.postTime{
    margin-left: 2rem;
}

.postReactionBox{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem ;
}
.reactionBtnsBox{
    width: 60rem;
 
    height: 3.2rem;
    display: flex;
/* justify-content: space-evenly; */
}
.likedAndDislikeBtnBox{
    display: flex;
     height: 3.3rem;
    width: 18rem;

}
.reactionBtnsBox .likeBtn {
    border: 0.1rem solid silver;
    width: 13rem;
    height: inherit;
    border-radius: 2rem 0 0 2rem;
  color:#636466;
}
.fa-circle-arrow-up{
    color: blue;
    font-size: 1.8rem;
    margin-right: 1rem;
}
.reactionBtnsBox .dislike {
    
    font-size: 1.8rem;
    border: 0.1rem solid silver;
    width:4rem;
    height: inherit;
    border-radius: 0 2rem 2rem 0;

}
.commentAndshareBtnBox{
    display: flex;
    /* width: 10rem; */
}
.commentAndshareBtnBox > button{
    font-size: 1.5rem;
    width: 8rem;
    border: none;
    background-color: white;
}

.fa-ellipsis{
    font-size :2rem ;
}


