* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 10px;
  height: auto;
  font-family: "-apple-system", system-ui, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif
}
body{
background-color: rgb(241, 241, 241);
}
/* home  page style */

.homePage {
  display: grid;
  grid-template-columns: 15% auto 30%;
  /* grid-template-rows: repeat(6,10rem); */
  width: 80%;
  margin: 7rem auto 0 auto;
  /* background-color: ; */
}

/* navar css */
.navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
 top: 0;
 right: 0 ;
  align-items: center;
  color: green;
  padding: 1rem 14rem 1rem 14rem;
  height: 5rem;
background-color: white;
z-index: 1000;
}

.navbar .navlink {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  color: rgb(99, 100, 102);
  padding: 1rem 2rem 0.7rem 2rem;
  border-bottom: 0.3rem solid transparent;

}

.navbar .navlink:hover {
  background-color: rgb(247, 247, 247);
  border-bottom: 0.3rem solid black;
  color: gray;
}

.quoraHeading {
  font-size: 3rem;
  color: rgb(185, 43, 39);
}

.searchBox {
  border: 0.1rem solid rgb(222, 224, 225);
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-radius: 0.3rem;
  width: 30rem;
  margin: 0rem 2rem 0rem 2rem;
  background-color: rgb(241, 241, 241)
  ;
}

.searchInput {
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
  height: 3rem;
  font-size: 1.5rem;

}

.searchBox>i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.PremiumBtn {
  border: 0.1rem solid rgb(222, 224, 225);
  border-radius: 2rem;
  /* padding: 0.7rem; */
  background-color: white;
  height: 3rem;
  width: 10rem;
  color: #636466;
  font-weight: bold;
}

.ProfileIcon img {
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}

.ProfileIcon {
  padding-top: 1rem;
  /* background-color: antiquewhite; */
}

.addQuestionContainer {
  display: flex;
  border-radius: 3rem;
  /* justify-content: ; */
  height: 3rem;
  width: 14rem;
  background-color: aqua;
}

.addQuestionContainer .addBtn {
  /* padding: 2rem; */
  color: white;
  outline: none;
  border: none;
  border-radius: 3rem 0rem 0rem 3rem;
  background-color: rgb(185, 43, 39);
  height: 3rem;
  width: 80%;
}

.addQuestionContainer .menuBtn {
  height: 3rem;
  border-radius: 0rem 3rem 3rem 0rem;
  background-color: rgb(185, 43, 39);
  width: 20%;
  border: none;
}

.addQuestionContainer .menuBtn>i {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.addQuestionContainer .addBtn:hover,
.addQuestionContainer .menuBtn:hover {
  background-color: rgb(163, 39, 35);
}

/* navbar css end */

/*  left space style end  */
.leftSideSection {
  position: fixed;
  overflow: auto;
  width: 16rem;
  grid-column: 1/2;
  grid-row: 1/7;
}

.spaceContainer {
  font-size: 1.5rem;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
}

.createSpaceBtn {
  border-radius: 0.5rem;
  width: 15rem;
  height: 5rem;
  background-color: rgb(231, 231, 231);
  border: none;
}

.spaceContainer li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;

}

.activeRedDot:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 1rem;
}

.spaceIcon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;

}

.activeRedDot::before {
  position: absolute;
  left: 2rem;
  top: 1rem;
  content: ' ';
  width: 0.8rem;
  height: 0.8rem;
  background-color: red;
  z-index: 1;
  border: 0.3rem solid white;
  border-radius: 50%;
}

.footerContainer {
  width: 100%;
}

.footerContainer li {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.8rem;
}

.footerContainer li:hover {
  text-decoration: underline;
}

.footerContainer li a {
  text-decoration: none;

}

hr {
  height: 0.2rem;
  background-color: silver;
  margin: auto;
  box-shadow: 2rem;
}

/* left space style end */

/* write Post section */
.ProfileImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0rem 1rem 0rem 1rem;
}

.WritePostBox {
  border-radius: 0.6rem;
  /* width: 30rem; */
  height: 10rem;
  grid-column: 2/3;
  background-color: white;
}

.profileAndInputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.profileAndInputBox .postWriteInput {
  outline: none;
  border-radius: 2rem;
  border: 0.2rem solid rgb(236, 236, 236);
  height: 4rem;
  width: 90%;
  padding-left: 1rem;
  font-size: 1.5rem;
  background-color: rgb(240, 240, 240);
}

.PostBoxOptions {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 40%;
  border-radius: 0 0 0.5rem 0.5rem;
}

.postBoxOptionsLinks {
  text-decoration: none;
}

.postBoxOptionsLinks {
  margin: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  transition: 0.2s ease-in-out;
}

.postBoxOptionsLinks:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 3rem;
}

.postBoxOptionsLinks i {
  padding: 0.5rem;
}

.answerBtn {
  position: relative;
}

.answerBtn::before,
.answerBtn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.2rem;
  /* Adjust the width of the lines as needed */
  background-color: silver;
  /* Adjust the color of the lines as needed */
}

.answerBtn::before {
  left: -0.6rem;
}

.answerBtn::after {
  right: -0.6rem;
}

/* post Section style */

.postSection {
  /* background-color:rgb(206, 206, 206) ; */
   grid-column: 2/3;
   grid-row: 2/7;
}
